---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
---

<Layout title="Random Games">
	<div class="min-h-screen bg-gradient-to-br from-chocolate-500 via-beige-500 to-beige-300 p-8 flex flex-col items-center justify-center">
		<h1 class="text-4xl md:text-8xl font-bold text-chocolate-800 mb-20 text-center">Random Games</h1>
		<p class="text-xl text-chocolate-600 text-center">Selecciona un juego desde el menú superior</p>
	</div>
</Layout>