---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
---

<Layout title="Random Games">
	<div class="min-h-dvh bg-gradient-to-br from-pink-200 to-purple-300 p-8 flex flex-col items-center justify-center">
		<h1 class="text-4xl md:text-8xl font-bold text-gray-800 mb-20">Random Games</h1>
		<nav class="flex flex-col md:flex-row gap-4">
			<a href="/ruleta" class="bg-purple-500 text-white px-6 py-3 rounded-lg text-xl hover:bg-purple-600 transition-colors">Ruleta</a>
			<a href="/cara-cruz" class="bg-purple-500 text-white px-6 py-3 rounded-lg text-xl hover:bg-purple-600 transition-colors">Cara o Cruz</a>
			<a href="/dados" class="bg-purple-500 text-white px-6 py-3 rounded-lg text-xl hover:bg-purple-600 transition-colors">Dados</a>
		</nav>
	</div>
</Layout>